/* orignal file - sass/lib/_global.sass
 *
 * # Table of Contents
 *   1. Color scheme
 *   2. Helper classes and mixins
 *   3. Sprites
 */
/* 1. Color scheme
 *    ------------ */
/* 2. Helper classes and mixins
 *    ------------------------- */
/* Hide from screenreaders */
.visuallyhidden, .form-select label, .page-header-inner nav h2, #obstacles nav h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* The ever-great float-containing class */
.clearfix, .container, .page-header-inner, #obstacles header,
#obstacles .content, #prizes section, #be-a-contestant, footer, .row {
  *zoom: 1;
}
.clearfix:before, .container:before, .page-header-inner:before, #obstacles header:before,
#obstacles .content:before, #prizes section:before, #be-a-contestant:before, footer:before, .row:before, .clearfix:after, .container:after, .page-header-inner:after, #obstacles header:after,
#obstacles .content:after, #prizes section:after, #be-a-contestant:after, footer:after, .row:after {
  content: "";
  display: table;
}
.clearfix:after, .container:after, .page-header-inner:after, #obstacles header:after,
#obstacles .content:after, #prizes section:after, #be-a-contestant:after, footer:after, .row:after {
  clear: both;
}

/* Easy media query mixin */
/* 3. Sprites
 *    ------- */
.sprite-sprite, .sprite-arrow, .selector span:after, .sprite-hatch, .sprite-knucklelodeon-logo, .vcard:after, .sprite-nose, .sprite-slide, .sprite-slime-small, .sprite-slime, .sprite-tank, .sprite-timer, .the-clock .clock, .sprite-wheel, .sprite-wringer {
  background: url('../images/sprite-s4da09a44f2.png') no-repeat;
}

.sprite-arrow, .selector span:after {
  background-position: 0 0;
  height: 15px;
  width: 27px;
}

.sprite-hatch {
  background-position: 0 -15px;
  height: 161px;
  width: 126px;
}

.sprite-knucklelodeon-logo, .vcard:after {
  background-position: 0 -176px;
  height: 85px;
  width: 134px;
}

.sprite-nose {
  background-position: 0 -261px;
  height: 161px;
  width: 163px;
}

.sprite-slide {
  background-position: 0 -422px;
  height: 168px;
  width: 118px;
}

.sprite-slime-small {
  background-position: 0 -590px;
  height: 155px;
  width: 177px;
}

.sprite-slime {
  background-position: 0 -745px;
  height: 206px;
  width: 236px;
}

.sprite-tank {
  background-position: 0 -951px;
  height: 152px;
  width: 171px;
}

.sprite-timer, .the-clock .clock {
  background-position: 0 -1103px;
  height: 329px;
  width: 386px;
}

.sprite-wheel {
  background-position: 0 -1432px;
  height: 164px;
  width: 166px;
}

.sprite-wringer {
  background-position: 0 -1596px;
  height: 160px;
  width: 164px;
}

/* orignal file - sass/lib/_typography.sass
 *
 * # Table of Contents
 *   1. Fonts
 *   2. Global declaration
 *   3. Elements
 */
/* 1. Fonts
 *    ----- */
/* @font-face declarations */
@font-face {
  font-family: "KomikaTitle-PaintRegular";
  src: url('../fonts/KomikaTitle-Paint-webfont.eot');
  src: url('../fonts/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/KomikaTitle-Paint-webfont.woff') format('woff'), url('../fonts/KomikaTitle-Paint-webfont.ttf') format('truetype'), url('../fonts/KomikaTitle-Paint-webfont.svg#DigitaldreamFatRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.komika, body,
button,
input,
select,
textarea {
  font-family: KomikaTitle-PaintRegular, Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#DigitaldreamFatRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.opensans, .page-header-inner p, .page-header-inner nav, footer {
  font-family: OpenSansSemibold, Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

@font-face {
  font-family: "DigitaldreamFatRegular";
  src: url('../fonts/DIGITALDREAMFAT-webfont.eot');
  src: url('../fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/DIGITALDREAMFAT-webfont.woff') format('woff'), url('../fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'), url('../fonts/DIGITALDREAMFAT-webfont.svg#DigitaldreamFatRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.digitaldream, .the-clock .clock {
  font-family: DigitaldreamFatRegular, Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

/* 2. Global declaration
 *    ------------------ */
body {
  font-size: 87.5%;
  line-height: 1.714em;
}

html > body {
  font-size: 14px;
}

body,
button,
input,
select,
textarea {
  color: white;
}

/* 3. Elements
 *    -------- */
p,
ul,
ol,
figure {
  margin-top: 0;
  margin-bottom: 16px;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 2.143em;
  line-height: 1.6em;
  color: #fefefe;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 24px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

/* orignal file - sass/lib/_grid.sass
 *
 * # Table of Contents
 *   1. Configuration
 *   2. Container
 *   3. Column row
 *   4. Column
 */
/* 1. Configuration
 *    ------------- */
/* 2. Container
 *    --------- */
.container, .page-header-inner, #obstacles header,
#obstacles .content, #prizes section, #be-a-contestant, footer {
  margin: 0 5%;
}
@media only screen and (min-width: 960px) {
  .container, .page-header-inner, #obstacles header,
  #obstacles .content, #prizes section, #be-a-contestant, footer {
    max-width: 940px;
    margin: 0 auto;
  }
}

/* 3. Column row
 *    ---------- */
.row {
  margin-left: -20px;
}

/* 4. Column
 *    ------ */
.column {
  float: left;
  width: 100%;
  padding-left: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* orignal file - sass/lib/_forms.sass
 * # Table of Contents
 *   1. Global
 *   2. Text inputs
 *   3. Select inputs
 *   4. Buttons
 */
/* 1. Global
 *    ------ */
select,
label {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* 2. Text inputs
 *    ----------- */
input[type=text], .selector, input[type=email], input[type=url] {
  outline: 0;
  border: 0;
  background: #fe6638 url('../images/patterns/orange.png?1319166962') repeat 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 16px;
}
input[type=text]:focus, .selector:focus, input[type=text].focus, .focus.selector, input[type=email]:focus, input[type=email].focus, input[type=url]:focus, input[type=url].focus {
  -moz-box-shadow: 0 0 6px #cde7ef;
  -webkit-box-shadow: 0 0 6px #cde7ef;
  -o-box-shadow: 0 0 6px #cde7ef;
  box-shadow: 0 0 6px #cde7ef;
}
input[type=text]:focus.no-boxshadow, .selector:focus.no-boxshadow, input[type=text].focus.no-boxshadow, .focus.no-boxshadow.selector, input[type=email]:focus.no-boxshadow, input[type=email].focus.no-boxshadow, input[type=url]:focus.no-boxshadow, input[type=url].focus.no-boxshadow {
  outline: 1px solid #cde7ef;
}

.js .form-text {
  position: relative;
}
.js .form-text label {
  position: absolute;
  top: 13px;
  left: 16px;
}

/* 3. Select inputs
 *    ------------- */
.selector {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
  padding: 0;
}
.selector {
  *display: inline;
}
.selector.focus {
  -moz-box-shadow: 0 0 6px #cde7ef;
  -webkit-box-shadow: 0 0 6px #cde7ef;
  -o-box-shadow: 0 0 6px #cde7ef;
  box-shadow: 0 0 6px #cde7ef;
}
.selector:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: #80b238 url('../images/patterns/green.png?1319166972') repeat 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.selector span {
  display: block;
  padding: 13px 16px;
  cursor: pointer;
}
.selector span:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 11px;
}
.selector select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

/* 4. Buttons
 *    ------- */
.form-submit {
  background: url('../images/slime-button-bg.png?1319398760') no-repeat 50% 50%;
  text-align: center;
}

button {
  margin: 0;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: none;
  font-size: 26px;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
  min-width: 177px;
  min-height: 155px;
  position: relative;
  -moz-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
  letter-spacing: 2px;
  font-style: italic;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  -o-transition: color 0.15s;
  transition: color 0.15s;
}
button:hover, button:focus {
  color: #badde9;
}
button:active {
  top: 2px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

/* orignal file - sass/lib/_layout.sass
 *
 * # Table of Contents
 *   1. Global layout definitions
 *   2. Header
 *   3. Content
 *   4. Obstacles
 *   5. Prizes
 *   6. Signup
 *   7. Footer
 */
/* 1. Global layout definitions */
html {
  background: #80c1d6 url('../images/patterns/blue.png?1319166896') repeat 0 0;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: none;
}

::selection {
  background: rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: none;
}

/* 2. Header
 *    ------ */
.page-header-inner {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 48px;
}
.page-header-inner h2 {
  color: #fe6638;
  text-shadow: 1px 2px 0 #f2f2f2;
}
.page-header-inner p {
  margin-bottom: 0;
  padding: 0 12px;
}
.page-header-inner p small {
  font-size: 14px;
}
.page-header-inner nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(15, 40, 48, 0.2);
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2.285em;
}
.page-header-inner nav ul {
  padding-left: 0;
  margin-bottom: 0;
}
.page-header-inner nav li {
  display: inline;
  padding: 0 10px;
}
.page-header-inner nav li:last-child {
  display: none;
}
.page-header-inner nav a {
  color: white;
  text-decoration: none;
}
.page-header-inner nav a:hover {
  color: #badde9;
}

/* 3. Content
 * ------- */
#obstacles,
#prizes,
.footer-wrapper {
  border-width: 7px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.06);
  padding: 36px 0;
}
#obstacles h2,
#prizes h2,
.footer-wrapper h2 {
  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  #obstacles h2,
  #prizes h2,
  .footer-wrapper h2 {
    float: left;
    padding-right: 23px;
    position: relative;
  }
  #obstacles h2:after,
  #prizes h2:after,
  .footer-wrapper h2:after {
    content: "";
    width: 940px;
    height: 48px;
    background: url('../images/patterns/yellow-checker.png?1319169190') repeat-x 0 7px;
    position: absolute;
    top: 0;
    left: 100%;
  }
  #obstacles h2 + *,
  #prizes h2 + *,
  .footer-wrapper h2 + * {
    clear: left;
  }
}

/* 4. Obstacles
 *    --------- */
#obstacles {
  background: #fe6638 url('../images/patterns/orange.png?1319166962') repeat 0 0;
}
#obstacles nav {
  display: none;
}

.obstacle, #prizes li {
  background: rgba(0, 0, 0, 0.06);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 16px 16px 48px;
  margin-bottom: 16px;
  text-align: center;
  position: relative;
}
.obstacle h3, #prizes li h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.286em;
  line-height: 1.333em;
}
.obstacle p, #prizes li p {
  display: none;
}
.obstacle img, #prizes li img {
  max-height: 200px;
}

/* 5. Prizes
 *    ------ */
#prizes {
  background: #80b238 url('../images/patterns/green.png?1319166972') repeat 0 0;
}
#prizes ul {
  list-style: none none;
  padding-left: 0;
}

/* 6. Signup
 *    ------ */
#be-a-contestant form {
  margin-bottom: 24px;
}

.the-clock {
  text-align: center;
}
.the-clock .clock {
  display: none;
  font-size: 140px;
  line-height: 330px;
  color: #f5eb00;
  text-shadow: 5px 10px 0 black;
  margin: 0 -4% 48px;
}
.the-clock p {
  font-size: 1.429em;
  line-height: 1.2em;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 0 auto 96px;
}

/* 7. Footer
 *    ------ */
.footer-wrapper {
  border-bottom: 0;
}

footer {
  text-align: center;
}

.vcard {
  border-width: 7px 0 7px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.06);
  padding: 24px 0;
  margin-bottom: 24px;
  position: relative;
}
.vcard:after {
  content: "";
  position: absolute;
  top: -48px;
  left: 50%;
  margin-left: -67px;
}
.vcard h2 {
  font-size: 1.429em;
  line-height: 1.2em;
  margin: 36px 0 12px;
  text-shadow: none;
}
.vcard p {
  line-height: 18px;
  margin-bottom: 12px;
}
